@model MVCLogin.CrudDB

<style>
    #frame1 {
        position: relative;
        left: -60%;
        top: 100%;
    }
</style>

<div class="content">

    <div id="" class="col-sm-9">

        <div class="main-header">
            <h2>Crud Funcionário</h2>
        </div>

        <div class="main-content">

            <div class="col-lg-12">

                <form id="formCrud">

                    <div class="widget">

                        <div class="widget-content">

                            <ul class="nav nav-tabs">

                                <li class="active">

                                    <a data-toggle="tab" href="#CrudFuncionario">
                                        Informe os Dados do Funcionário
                                    </a>

                                </li>

                            </ul>

                            <div class="content-wrapper">

                                <div class="content">

                                    <div id="CrudFuncionario" class="tab-pane fade active in">

                                        <div class="row">
                                            <div class="form-group">                                                
                                                <div class="Nome">
                                                    @Html.LabelFor(m => m.Nome, new { @class = "control-label" })
                                                    <input type="text" name="Nome" id="Nome" />
                                                </div>

                                                <div class="Telefone">
                                                    @Html.LabelFor(m => m.Telefone, new { @class = "control-label" })
                                                    <input type="text" name="Telefone" id="Telefone" />
                                                </div>

                                            </div>
                                        </div>

                                        <br />



                                        <table id="tbl" class="table table-responsive table-condensed table-sorting table-striped table-hover table-bordered dataTable" style="width: 100%;">
                                            <thead>
                                            </thead>
                                            <tbody></tbody>

                                        </table>

                                        <p align="center">

                                            <iframe src='http://localhost:49403/Home/PopulateData'
                                                    name='frame1'
                                                    width='2000'
                                                    height='333' id="frame1"></iframe>

                                            <input type="button" name="Salvar" id="btnSalvar" class="btn btn-primary btn-xs" value="Inserir Funcionário" onclick="parent.frames['frame1'].location.reload(true)" />
                                            <input type="button" name="Atualizar" id="btnAtualizar" class="btn btn-primary btn-xs" value="Atualizar Telefone" onclick="parent.frames['frame1'].location.reload(true)" />
                                            <input type="button" name="Deletar" id="btnDeletar" class="btn btn-primary btn-xs" value="Deletar Funcionário" onclick="parent.frames['frame1'].location.reload(true)" />
                                        </p>
                                        
                                        
                                            
                                        
                                        

                                        @section Scripts{
                                            @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
                                            @Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")
                                            @Scripts.Render("~/bundles/jqueryval")

                                            <script>
                                                $(function () {
                                                    $("#btnSalvar").click(function () {
                                                        $.ajax(
                                                            {
                                                                type: "POST",
                                                                url: "/Home/Add_Data",
                                                                data: {
                                                                    Nome: $("#Nome").val(),
                                                                    Telefone: $("#Telefone").val(),
                                                                },
                                                                success: function (da) {
                                                                    alert(da);
                                                                }
                                                            }
                                                        );
                                                    })
                                                })

                                                    
                                                    $(function () {
                                                        $("#btnAtualizar").click(function () {
                                                            $.ajax(
                                                                {
                                                                    type: "POST",
                                                                    url: "/Home/Update_Data",
                                                                    data: {
                                                                        Nome: $("#Nome").val(),
                                                                        Telefone: $("#Telefone").val(),
                                                                    },
                                                                    success: function (da) {
                                                                        alert(da);
                                                                    }
                                                                }
                                                            );
                                                        })
                                                })

                                                $(function () {
                                                    $("#btnDeletar").click(function () {
                                                        $.ajax(
                                                            {
                                                                type: "POST",
                                                                url: "/Home/Delete_Data",
                                                                data: {
                                                                    Nome: $("#Nome").val(),
                                                                },
                                                                success: function (da) {
                                                                    alert(da);
                                                                }
                                                            }
                                                        );
                                                    })
                                                })
                                            </script>

                                        }



                                    </div>
                                        <div>

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

